############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Env files
############################
.env
.env.*
!.env.example

############################
# Docker
############################
docker-compose.override.yml

############################
# IDE
############################
.vscode/
.idea/
*.swp

############################
# Node (global safety)
############################
node_modules/
dist/
build/
coverage/

############################
# Mac
############################
.AppleDouble
.LSOverride